<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    Na tag abaixo, preencha com a pasta "Arquivos de Programas" onde está o Office:
    - Windows XP: C:\Arquivos de Programas
    - Windows Vista/7/8 32 bits: C:\Program Files
    - Windows Vista/7/8 64 bits: C:\Program Files (x86)
    -->
    <add key="programFilesPath" value="C:\Program Files (x86)" />
    <!--
    Na tag abaixo, preencha com a versão do Office (2003, 2007 ou 2010)
    -->
    <add key="versaoOffice" value="2010" />
  </appSettings>
</configuration>